<ion-content no-bounce style="background-image: url('assets/imgs/bg1.png'); overflow-y: hidden;">
  <img navPop src="assets/imgs/back.png" style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;">

  <div class="buttonStyle" style="top:8%; height:23%; width: 90%;background:#fff; z-index:10;border-color:#B5C6E6; border-width:1px; border-style:solid; opacity:0.8;">
    <div style="position: absolute; background: transparent; top: 12%; left: 20px; width: 35%; height: 40%; border-radius:100px;">
      <img style="object-fit: cover; border-radius:100px;" *ngIf=" profileimg == '' " src="assets/imgs/profile/3.png">
      <img style="object-fit: cover; border-radius:100px;" *ngIf=" profileimg != '' " src="{{profileimg}}">
    </div>

    <div style="position: absolute; top:10%; left: 50%; width: 45%;">

      <ion-label style="text-align: left;  width: 100%; font-size: 6vw;">{{profilename}}</ion-label>


      <!-- <ion-item  class="vertical-align" no-lines style="width: 90%; border-radius:20px;  background: #fff; opacity: 1; border-color:#D9D3E2; border-width:1px; border-style:solid;">
          <img  no-margin item-start src="assets/imgs/cover.png" style="display: block; width:30%; height:75%;">
          <ion-label  no-margin> 9 </ion-label>
        </ion-item> -->

      <ion-item class="vertical-align" no-lines style="width: 90%; border-radius:20px; background: #fff; opacity: 1; border-color:#D9D3E2; border-width:1px; border-style:solid;">
        <ion-label no-margin style="margin-top:5px; margin-right:0px; "> Point </ion-label>
        <ion-label no-margin style="margin-top:5px; width:40%;"> {{userscore}} </ion-label>
      </ion-item>

    </div>
  </div>

    <ion-scroll scrollY="true" style="height:68%; margin-top: 20%;">
            <div *ngFor="let reward of rewardList" class="buttonStyle" style="top:33%; height:34%; width: 90%;background:#fff; border-radius: 10px; z-index:10;border-color:#B5C6E6; border-width:1px; border-style:solid; margin-bottom: 10px;">
                <div style="width:100%; height: 65%;background:blue; border-radius: 10px;">
                  <img src="{{reward.RewardImg}}" style="display: block; width:inherit; height:inherit; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                </div>
                <ion-label style="text-align: left; width: 90%; margin-left: 10px; margin-top:14px; color:#000;"> {{reward.Rewardname}} x{{reward.amount}} </ion-label>
                <ion-label style="text-align: left;width: 90%; margin-left: 10px; margin-top:10px; color:#063637;"> {{reward.RewardPoint}} Point
                </ion-label>
            
                <button ion-button (click)="reedeem(reward.RewardId)" class="buttonStyle" style=" position: absolute; left: 60%; top:70%; width: 35%; height: 45px; background:#009788; opacity: 1; border-color:#D9D3E2; border-width:1px; border-style:solid;">
                    <ion-label style="color:#063637;"> REDEEM </ion-label>
                  </button>
              </div>
    </ion-scroll>

</ion-content>
