<ion-header>
</ion-header>



<ion-content no-bounce overflow-scroll="false" style="background-image: url('assets/imgs/bg1.png');">
  <img (click)="goSetting()" src="assets/imgs/set.png"
    style="width:20px; height:20px; position:absolute ; right:20px; top:25px; z-index: 10000;">

  <ion-grid>        
    <ion-row text-center align-items-start>
      <ion-col col-12 no-margin no-padding margin-top>
        <!-- Picture Profile -->
        <!-- assets/imgs/profile.jpg -->
        <!-- <ion-item>
          <ion-label floating>Profile Picture</ion-label>
          <ion-input type="file" [id]="pic"></ion-input>
        </ion-item> -->

        <div class="profilePic" style="top:2%; width: 35%; border-radius:100px;  background:transparent; z-index: 10;">
          <img (click)="goSetting()" *ngIf=" profileimg == '' " style="object-fit: cover; border-radius:100px;"
            src="assets/imgs/profile/3.png">
          <img (click)="goSetting()" *ngIf=" profileimg != '' " style="object-fit: cover; border-radius:100px;"
            src="{{profileimg}}">
        </div>
        <!-- box main -->
        <ion-card class="buttonStyle"
          style="margin-top:17%; width: 90%; height:auto; background:#fff; opacity: 0.6; z-index: 9;">
          <ion-card-content>
            <ion-label no-margin style="margin-top:23%; font-size:7vw;"><b>{{profilename}}</b></ion-label>

            <!-- point -->
            <ion-item no-lines text-center
              style="background:transparent;width: 100%; font-size: 5vw; color:rgb(102, 95, 112);">
              <ion-label item-start style="margin-top:5px; font-size:5vw;"><b>คะแนนของคุณ</b></ion-label>
              <ion-label style="margin-top:10px; font-size:5vw;"><b>{{score}}</b></ion-label>
            </ion-item>

            <!-- clover leaf now -->
            <ion-item no-padding no-lines text-center no-wrapper
              style="background:transparent; width: 100%; font-size: 14px; color:rgb(102, 95, 112); ">
              <div item-start style="width:50%;">
                <img src="assets/imgs/cover.png" style="width:30px; height:30px; float: left; margin-left: 30%;">
                <ion-label style="margin: 0px; font-size:5vw; float: left;">&nbsp; <b>x {{leave}}</b> </ion-label>
              </div>

              <button item-end (click)="addCover()" ion-button round small outline
                style="opacity: 1; border-color:#000; border-width:1px; border-style:solid; width: 100%;">
                <ion-label style="width:100%; color:#000; font-size:3vw;margin-right: 0;"><b>+ เพิ่มตัวช่วย</b>
                </ion-label>
              </button>

            </ion-item>
            <!-- btn get clover leaf -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <button *ngIf="flagplay == 'y' " (click)="playGame()" ion-button class="buttonStyle"
      style="width: 90%; height:50px; background:#FF4181;border-color:#955E73; border-width:2px; border-style:solid; ">
      <h4 class="textButton">เริ่มเล่นเกม</h4>
    </button>
    <button *ngIf="flagplay == 'n' " (click)="refresh_profile()" ion-button class="buttonStyle"
      style="width: 90%; height:50px; background:#FF4181;border-color:#955E73; border-width:2px; border-style:solid; ">
      <h4 class="textButton">รอบถัดไปเวลา {{NextRound}}</h4>
    </button>

    <!-- <ion-content padding>
        <button expand="block" (click)="noti()"> NOTI </button>
        <ion-list>
          <ion-item *ngFor="let n of scheduled">
            <ion-label text-wrap>
              {{ n.id }} - {{ n.title }}
              <p>Trigger: {{ n.Trigger | json }} </p>
            </ion-label>
          </ion-item>
        </ion-list>
      
      </ion-content> -->

    <button (click)="Point()" ion-button class="buttonStyle"
      style="width: 90%; height:50px; background:#2A77EB; border-color:#fff; border-width:2px; border-style:solid;">
      <h4 class="textButton">รายการของรางวัล</h4>
    </button>
    <br />

    <ion-slides #Slides *ngIf="AdList" centeredSlides="true" loop="true" speed="2000"
      autoplayDisableOnInteraction="false" style="margin-top: 10px;">
      <ion-slide *ngFor="let item of AdList">
        <img src="{{item.AdImg}}" (click)="adbLink(item.AdLink)" class="buttonStyle"
          style="width: 90%; height:200px; background:#fff;">
      </ion-slide>
    </ion-slides>
    <div style="text-align: center;">Recommended by JL</div>
    


  </ion-grid>

</ion-content>