page-start {
    
    
  .profilePic{
    position: absolute;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:0%;
    border-radius: 20px;
    background: #000;
    width: 70%;
    height: 40px;
    text-align: center;
  }

  .buttonStyle{
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #000;
    width: 70%;
    height: 40px;
    text-align: center;
  }

  .textButton{
    margin-bottom: 18px;    
  }

}
