<ion-header >
 
</ion-header>

<ion-content overflow-scroll="false" no-bounce style="background-image: url('assets/imgs/bg1.png');">
      <ion-grid>
            <ion-row center text-center>
                  <ion-col style="margin-top:30%;">
                        <img src="assets/imgs/logo_3.png" class="logo" alt="">
                        <button class="thal" style="margin-top:20%; font-size:5vw;" ion-button class="btnStyleMain btnGreen" (click)="gotoLogin()">สมัครสมาชิก</button>
                  </ion-col>
            </ion-row>
      </ion-grid>

</ion-content>
<ion-footer no-lines no-border>
      <ion-label style="font-size:4vw;">By signing in, you agree to our privacy policy<br />and
            terms of service</ion-label>
</ion-footer>