page-login {

    @media screen and (min-width:641px) and (max-width:960px) and (orientation : portrait){ 
       
    }

    @media screen and (min-width:641px) and (max-width:960px) and (orientation : landscape){ 
       
    }
    
    @media screen and (min-width:481px) and (max-width: 640px) and (orientation : portrait){

    }

    @media screen and (min-width:481px) and (max-width: 640px) and (orientation : landscape){
      
    }
    
    @media screen and (min-width:320px) and (max-width: 480px){

    }
  
}
