<ion-content style="background-image: url('assets/imgs/bg1.png'); ">
    <!-- <img (click)="endGame()" src="assets/imgs/back.png"
        style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;"> -->

    <div class="buttonStyle"
        style="margin-top:15px; width: 80px; height: 80px; border-radius:100px; background:#fff;border-color:#7F8C7E; border-width:4px; border-style:solid;">
        <h1 class="textButton" style="margin-top: 11px; z-index:30; font-size:40px; color:black;">{{maxtime}}</h1>
    </div>
    <div margin-top class="buttonStyle"
        style="height:auto; width: 85%;background:#fff; z-index:10;border-color:#7F8C7E; border-width:4px; border-style:solid; opacity:0.9;">

    <!--   ขอใส่รูปตรงนี้ ถ้ามี api return ค่ากลับมา ว่ามีรูป 
        <img (click)="goSetting()" *ngIf=" profileimg != '' " style="object-fit: cover; border-radius:100px;"
            src="{{profileimg}}"> -->

        <ion-label margin-top text-wrap style="margin-top:10px;  margin: 10px;  font-size: 4vw; ">{{question}}
        </ion-label> 
        <button ion-button class="buttonStyle" (click)="checkAns('c1')" [disabled]="isReadonly" 
            style="height: auto; width: 88%; background:#009788;">
            <ion-label  text-center no-margin full style="color :whitesmoke; font-size:4vw; margin:14px;">{{c1}}</ion-label>
        </button>
        <button ion-button class="buttonStyle" (click)="checkAns('c2')" [disabled]="isReadonly" 
            style="height: auto; margin-top: 10px; width: 88%; background:#009788;">
            <ion-label  text-center no-margin full style="color :whitesmoke; font-size:4vw; margin:14px;">{{c2}}</ion-label>
        </button>
        <button ion-button class="buttonStyle" (click)="checkAns('c3')" [disabled]="isReadonly" 
            style="height: auto; margin-top: 10px; width: 88%; background:#009788;">
            <ion-label text-center no-margin full style="color :whitesmoke; font-size:4vw; margin:14px;">{{c3}}</ion-label>
        </button>
        <button ion-button class="buttonStyle" (click)="checkAns('c4')" [disabled]="isReadonly" 
            style="height: auto; margin-top: 10px; width: 88%; background:#009788;">
            <ion-label text-center no-margin full style="color :whitesmoke; font-size:4vw; margin:14px;">{{c4}}</ion-label>
        </button>
        <br />
        <ion-label class="textButton" style=" font-size: 6vw; color:black;">{{point}}</ion-label>
    </div>
    <div margin-top class="buttonStyle"
        style="opacity: 0.9; width: 85%; height: auto; background:#fff;border-color:#7F8C7E; border-width:1px; border-style:solid;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div>
                        <ion-label no-padding no-margin><img src="{{picCover1}}" style="width:50px; height:50px;">
                        </ion-label>
                        <!-- <ion-label>ข้ามข้อ</ion-label> -->
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-label no-padding no-margin><img src="{{picCover2}}" style="width:50px; height:50px;">
                        </ion-label>
                        <!-- <ion-label>ตัดตัวเลือก</ion-label> -->
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-label no-padding no-margin><img src="{{picCover3}}" style="width:50px; height:50px;">
                        </ion-label>
                        <!-- <ion-label>เปลี่ยนคำถาม</ion-label> -->
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div margin-top class="buttonStyle"
        style="opacity: 0.9; width: 85%; height: 6%; background:#fff;border-color:#7F8C7E; border-width:1px; border-style:solid;">
        <ion-item no-lines style="width:100%; height: 10px; background: transparent;">
            <div item-content style="width:100%; height: auto;">
                <ion-label class="textButton" style="text-align: center; font-size: 5vw; color:black;">
                    ตัวช่วยจะลดลงอัตโนมัติเมื่อตอบผิด</ion-label>
                <!-- <ion-label class="textButton" style=" color:red;  font-size: 15px;">เหลือเวลา: 10</ion-label> -->
                <!-- <ion-label style="float: left; max-width: 35px !important; margin:0px;"></ion-label><img src="assets/imgs/cover.png" style="width:20px; height:20px;"></ion-label> -->
                <!-- <ion-label class="textButton" style="float: left; font-size: 15px; color:black;">10 Cover Leaf</ion-label> -->
            </div>
        </ion-item>
    </div>
</ion-content>