<ion-header></ion-header>


<ion-content overflow-scroll="false" no-bounce style="background-image: url('assets/imgs/กติกา JL_190315_0002.jpg');">
  <img navPop src="assets/imgs/back.png" style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;">
</ion-content>