page-invite {
    .cam{
        position: absolute;
        z-index: 10;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 15%;
      }

      .scroll-content{ 
        overflow: hidden;
      }
}
