page-changeprofile {
    
    .listCus {
        font-size: 5vw;
        color: black;
        background: rgba(255, 255, 255, 0.568);
        border-color:#B5C6E6; 
        border-width:1px; 
        border-style:solid;
  }
    .imgProfile{
        object-fit: cover; 
        border-radius:100px;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }

    .imgProfile:hover{
        object-fit: cover; 
        border-radius:100px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-color:rgb(173, 170, 170); 
        border-width:3px; 
        border-style:solid;

    }

    .buttonStyle{
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        background: #000;
        width: 70%;
        height: 40px;
        text-align: center;
      }
      


}
