<ion-content style="background-image: url('assets/imgs/bg1.png');">
  <ion-grid>
    <ion-row center text-center>
      <ion-col style="margin-top:30%;">
        <img src="assets/imgs/logo_3.png" class="logo" alt="">
        <!-- <ion-item no-lines  class="btnNoBG" style="margin-top:10%;"> -->
        <!-- <ion-icon no-margin name="mail-open" item-start></ion-icon> -->
        <ion-input #otpCode text-center class="vertical-align inputBorder btnStyleMain" type="Numbers" placeholder="OTP Code" style="margin-top:10%; font-size:5vw;"></ion-input>
        <!-- </ion-item>  -->
        <button full ion-button class="btnStyleMain btnGreen" (click)="next()" style="margin-top:5%; font-size:5vw;">Confirm</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-label class="footer" style="font-size:4vw; margin-top:40px;">By signing in, you agree to our privacy policy<br />and terms
    of service</ion-label>

</ion-content>