<ion-content style="background-image: url('assets/imgs/bg1.png');">
  <ion-grid>
    <ion-row center text-center>
      <ion-col style="margin-top:20%;">
        <img class="logo"  (click) = "changeProfile()" style="margin-top:8px; object-fit: cover; border-radius:100px;" src="{{imgUrl}}">
        <!-- <ion-item no-lines  class="btnNoBG" style="margin-top:10%;"> -->
        <!-- <ion-icon no-margin name="mail-open" item-start></ion-icon> -->
        <ion-input #name text-center class="vertical-align inputBorder btnStyleMain" type="Numbers" placeholder="Name" style="margin-top:5%; font-size:5vw;"></ion-input>
        <!-- <ion-input #invite text-center class="vertical-align inputBorder btnStyleMain" type="Numbers" placeholder="Invite Code" style="margin-top:3%; font-size:5vw;"></ion-input> -->
        <!-- </ion-item>  -->
        <button full ion-button class="btnStyleMain btnGreen" (click)="next()" style="margin-top:5%; font-size:5vw;">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label class="footer" style="font-size:4vw; margin-top:30px;">By signing in, you agree to our privacy policy<br />and terms
    of service</ion-label>
</ion-content>