<ion-content no-bounce style="background-image: url('assets/imgs/bg1.png'); overflow-y: hidden;">
  <!-- <img (click)="gotoStart()" src="assets/imgs/back.png"
    style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;"> -->

  <img src="assets/imgs/logo_3.png" style="width: 50%; left: 25%; position: relative; margin-top: 20%;">
  <div class="buttonStyle"
    style="top:8%; height:23%; width: 90%;background:#fff; z-index:10;border-color:#B5C6E6; border-width:1px; border-style:solid; opacity:0.8;">
    <div style="position: absolute; top:10%; width: 100%;">
      <ion-label
        style="text-align: center;  width: 100%; font-size: 6vw; padding: 13px 10px 13px 10px; white-space: normal">
        {{resultMessage}}</ion-label>
    </div>
  </div>

  <button (click)="gotoStart()" ion-button class="buttonStyle"
    style="width: 90%; height:50px; background:#2A77EB; border-color:#fff; border-width:2px; border-style:solid;left: 5%;margin-top: 20%">
    <h4 class="textButton">กลับหน้าหลัก</h4>
  </button>

</ion-content>