page-redeemresult {
    .listCus {
        font-size: 5vw;
        color: black;
        background: rgba(255, 255, 255, 0.568);
        border-color: #B5C6E6;
        border-width: 1px;
        border-style: solid;
    }
    .buttonStyle {
        position: relative;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0%;
        border-radius: 20px;
        background: #000;
        width: 70%;
        height: 40px;
        text-align: center;
    }
    .textButton {
        margin-top: 10px;
        color: #fff;
    }
}