.bg {
    position: static;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    width: 100%;
    height: 120%;
}

@import url('https://fonts.googleapis.com/css?family=Athiti|Mali');
* {
    // font-family: 'Mali', cursive;
    font-family: 'Athiti', sans-serif;
}

ion-footer {
    text-align: center;
    position: absolute;
    bottom: 10%;
}

ion-content {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.btnStyleMain {
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 85%;
    height: 50px;
    text-align: center;
}

.vertical-align {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
}

.btnGreen {
    background: #259B23;
}

.btnRed {
    background: rgb(216, 23, 23);
}

.btnNoBG {
    background: transparent;
}

.inputBorder {
    background: #FFFAE8;
    border-color: #C7CCD1;
    border-width: 1px;
    border-style: solid;
}

.center {
    text-align: center;
}

.logo {
    z-index: 10;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.correct-alert {
    background-color: rgba(0, 0, 0, 0.5);
    .alert-wrapper {
        background: url(../assets/imgs/JL-001.png) no-repeat;
        background-size: contain;
        height: 40%;
        width: 40%;
        position: absolute;
        background-position: center;
    }
}

.incorrect-alert {
    background-color: rgba(0, 0, 0, 0.5);
    .alert-wrapper {
        background: url(../assets/imgs/JL-002.png) no-repeat;
        background-size: contain;
        height: 40%;
        width: 40%;
        position: absolute;
        background-position: center;
    }
}