<ion-header></ion-header>

<ion-content  padding style="background-image: url('assets/imgs/bg1.png');">
  <img navPop src="assets/imgs/back.png"
    style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 100;">

  <ion-item no-lines class="listCus" style="border-radius: 10px; margin-top:35px;">

    <ion-grid>
 
      <h1 text-center style="margin:10px; "> เลือกรูปภาพตัวละคร </h1>
      <ion-row margin-top>

        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/1.png')" class="imgProfile" src="assets/imgs/profile/1.png">
        </ion-col>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/2.png')" class="imgProfile" src="assets/imgs/profile/2.png">
        </ion-col>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/3.png')" class="imgProfile" src="assets/imgs/profile/3.png">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/4.png')" class="imgProfile" src="assets/imgs/profile/4.png">
        </ion-col>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/5.png')" class="imgProfile" src="assets/imgs/profile/5.png">
        </ion-col>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/6.png')" class="imgProfile" src="assets/imgs/profile/6.png">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/7.png')" class="imgProfile" src="assets/imgs/profile/7.png">
        </ion-col>
        <ion-col>
          <img (click)="changeUrl('assets/imgs/profile/8.png')" class="imgProfile" src="assets/imgs/profile/8.png">
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-item>
 
  <button margin-top (click)="ok()" ion-button class="buttonStyle"
    style="width: 100%; height:50px; background:#2A77EB; border-color:#fff; border-width:2px; border-style:solid;">
    <ion-label  class="textButton" style= "font-size:5vw;">เลือกตัวละคร</ion-label>
  </button>

</ion-content>