<ion-header></ion-header>

<ion-content overflow-scroll="false" no-bounce style="background-image: url('assets/imgs/bg1.png');">
      <img navPop src="assets/imgs/back.png"
            style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;">
      <ion-grid style="margin-top:30px;">
            <ion-row center text-center>
                  <ion-col>
                        <ion-list magin>
                              <ion-item no-lines class="listCus" style="border-radius: 10px; margin-top:20px;">
                                    <div item-start class="profilePic"
                                          style=" width: 35%; height: 100%; border-radius:100px;  background:transparent; z-index: 10;">

                                          <img *ngIf=" profileimg == '' " (click)="changeProfile()"
                                                style="margin-top:8px; object-fit: cover; border-radius:100px;"
                                                src="assets/imgs/profile/3.png">
                                          <img *ngIf=" profileimg != '' " (click)="changeProfile()"
                                                style="margin-top:8px; object-fit: cover; border-radius:100px;"
                                                src="{{profileimg}}">

                                          <img (click)="changeProfile()"
                                                style="width: 17px; position: absolute; top:15px; right:15px;"
                                                src="assets/imgs/pen.png">

                                    </div>

                                    <ion-label style="font-size:6vw;">
                                          {{name}}
                                          <br />
                                          <ion-label style=" margin: 0px; font-size:5vw; float: left;">  คะแนน
                                                &nbsp;:&nbsp; {{score}} </ion-label>
                                          <br />

                                          <img src="assets/imgs/cover.png"
                                                style="width:30px; height:30px; float: left;">

                                          <ion-label style="margin: 0px; font-size:5vw; float: left;">
                                                &nbsp; x {{leave}} </ion-label>
                                    </ion-label>

                              </ion-item>

                              <ion-item (click)="menuTopTen()" padding-right
                                    style=" margin-top:20px; border-top-right-radius: 10px; border-top-left-radius: 10px;"
                                    class="listCus">
                                    <ion-label> Top Of The Week </ion-label>
                              </ion-item>
                              <ion-item (click)="menuHistory()" padding-right class="listCus">
                                    <ion-label> ประวัติการแลกของรางวัล </ion-label>
                              </ion-item>
                              <ion-item (click)="menuFriend()" padding-right class="listCus">
                                    <ion-label> ชวนเพื่อน </ion-label>
                              </ion-item>
                              <ion-item (click)="menuHowtoplay()" padding-right class="listCus">
                                    <ion-label> วิธีเล่น </ion-label>
                              </ion-item>
                              <ion-item (click)="menuService()" padding-right class="listCus">
                                    <ion-label> ข้อกำหนดให้บริการ </ion-label>
                              </ion-item>
                              <ion-item (click)="presentConfirmLogout()" padding-right class="listCus"
                                    style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
                                    <ion-label> ออกจากระบบ </ion-label>
                              </ion-item>
                        </ion-list>
                  </ion-col>
            </ion-row>
      </ion-grid>

</ion-content>
<ion-footer no-lines no-border>

</ion-footer>