page-setting {
    .listCus {
        font-size: 5vw;
        color: black;
        background: rgba(255, 255, 255, 0.568);
        border-color:#B5C6E6; 
        border-width:1px; 
        border-style:solid;
  }

}
