<ion-content no-bounce style="background-image: url('assets/imgs/bg1.png'); overflow-y: hidden;">
  <img navPop src="assets/imgs/back.png"
    style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;">

  <div class="buttonStyle"
    style="margin: 15% 5% 0 5%; text-align: center; border-radius:10px; background:#fff;border:1px solid #B5C6E6; opacity: 0.8;">
    <h1 class="textButton" style="margin-top: 11px; z-index:30; font-size:6vw; color:black; opacity: 1;">10 อันดับผู้เล่นคะแนนสูงสุด</h1>
  </div>

  <ion-scroll scrollY="true" style="height:75%; margin-top: 7%;">
    <div *ngFor="let userList of topUserList" class="buttonStyle"
      style="top:33%; height:34%; width: 90%;background:#fff; border-radius: 10px; z-index:10;border-color:#B5C6E6; border-width:1px; border-style:solid; margin-bottom: 10px; margin-left: 5%; opacity: 0.8;">
      <ion-label style="text-align: left; width: 90%; margin-left: 10px; margin-top:14px; color:#000; font-size: 5vw">
        ชื่อผู้เล่น:&nbsp;{{userList.profilename}}</ion-label>
      <ion-label style="text-align: left;width: 90%; margin-left: 10px; margin-top:10px; color:#063637; font-size: 5vw">
        คะแนน:&nbsp;{{userList.sumpoint}}
      </ion-label>
    </div>
  </ion-scroll>

</ion-content>