page-cover {

    .bgImg{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .footer{
        position: absolute;
        z-index: 10;
        color: #403D3D;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top:80%;
      }
      .buttonStyle{
        // position: absolute;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        // left: 0;
        // right: 0;
        // top:0%;
        border-radius: 20px;
        background: #000;
        width: 70%;
        height: 40px;
        text-align: center;

      }
      .textButton{
        margin-top: 10px;
        color: #fff;
      }

}
