<ion-content style="background-image: url('assets/imgs/bg1.png'); overflow: hidden;">
    <img navPop src="assets/imgs/back.png"
        style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;">
    <!-- <img src="assets/imgs/bg1.png" class="bg" alt=""> -->
    <ion-grid>
        <ion-row center text-center>
            <ion-col style="margin-top:10px;">
                <div class="buttonStyle" style="width: 85%; height: 30px; background:transparent; z-index: 100;">
                    <label class="textButton"
                        style="margin-top: 5px; font-size: 8vw; color:black;">เพิ่มตัวช่วยพิเศษ</label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="buttonStyle" style="margin-top:20px; height:auto; width: 90%;background:#fff; z-index:10;border-color:#B5C6E6; border-width:1px; border-style:solid; opacity:0.8;">
                <ion-label margin-top style="text-align: center;  width: 100%; font-size: 8vw; margin-bottom: 0px;">
                    <img margin-top src="assets/imgs/cover.png" style="width:30px; height:30px; margin-top:18px;"
                        alt="">&nbsp;+5</ion-label>
            
                <ion-label margin-top style="width:auto; margin: 5px auto; font-size: 6vw; ">ส่ง SMS พิมพ์ JL ส่งมาที่ 4141111 </ion-label>
                <ion-label margin-top style="width:auto; margin: 1px auto; font-size: 4.5vw; ">*ครั้งละ 10 บาท</ion-label>
                <ion-label style="width:auto; margin-top: 20px; margin-bottom: 0px; font-size: 5vw; ">ระบบจะส่งใบโคลเวอร์ให้คุณทันที่ 5 ใบ</ion-label>
                <ion-label style="width:auto; margin-top: 0; font-size: 5vw; ">ตามเบอร์โทรศัพท์ที่ลงทะเบียนกับเกมไว้</ion-label>
    
            </div>
        </ion-row>

        <ion-row>
            <div class="buttonStyle"
                style="margin-top:10px; height:auto; width: 90%;background:#fff; z-index:10;border-color:#B5C6E6; border-width:1px; border-style:solid; opacity:0.8;">
                <ion-label margin-top style="text-align: center;  width: 100%; font-size: 8vw; margin-bottom: 0px;">รับฟรี
                    &nbsp;<img margin-top src="assets/imgs/cover.png" style="width:30px; height:30px; margin-top:18px;"
                        alt="">&nbsp; +1</ion-label>
                <!-- <ion-label text-wrap class="item item-text-wrap"
                    style="margin-left: 10%; margin-top: 0px; text-align: center;  width: 80%; font-size: -vw; ">คุณและเพื่อนจะได้ใบโคลเวอร์ เพิ่มคนละ 1 ใบ
                </ion-label>  -->
                <br />
                <ion-label text-wrap class="item item-text-wrap"
                    style="margin-left: 10%; margin-top: 0px; margin-bottom: 0px; text-align: center;  width: 80%; font-size: 4.5vw; ">นำรหัสนี้ให้เพื่อนใส่
                </ion-label>
                <ion-label text-wrap class="item item-text-wrap"
                    style="margin-left: 10%; margin-top: 0px; text-align: center;  width: 80%; font-size: 4.5vw; ">ตอนลงทะเบียนแรกเข้า
                </ion-label>
                <div (click)="copy()" class="buttonStyle"
                    style=" border-radius: 30px; width: 50%; height: auto; background:rgb(255, 236, 129); border-color:rgb(255, 238, 0); border-width:2px; border-style:solid;">
                    <ion-label no-margin style="font-size:7vw; width: 100%; height: 100%; ">{{inviteCode}}</ion-label>
                    <!-- <ion-label no-margin style="font-size:7vw; width: 40px; height: 100%; ">คัดลอก</ion-label> -->
                </div>
                <br />
            </div>
        </ion-row>
    </ion-grid>
</ion-content>