<ion-header></ion-header>


<ion-content overflow-scroll="false" no-bounce style="background-image: url('assets/imgs/bg1.png');">
  <img navPop src="assets/imgs/back.png" style=" width:20px; height:20px; position:absolute ; left : 20px; top:25px; z-index: 10000;">
  <ion-grid style="margin-top:30px;">
    <ion-row center text-center>
      <ion-col>
        <img src="assets/imgs/กติกา JL_190315_0001.jpg" style="margin-top: 5%; border-radius: 10px;">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>